.blog-space-buttons {
    margin: 20px;
}
  
.blog-center-content {
    text-align: center;
    margin: 24px 0px 32px 0px;
    padding: 0 50px;
}

.content-color {
    background-color: white;
}

.content-fit {
    margin-top: 10px;
}

.editorClassName {
    border: 1px solid gray;
}

.content-fit-button {
    margin: 10px;
}

.description {
    margin-top: 50px;
}

.blog-center-render {
    text-align: center;
    margin: 24px 32px 48px 32px;
    padding: 0 0 50px 0;
    border-radius: 4px;
}

.blog-center-button {
    text-align: center;
    margin: 0 16px 0 16px;
}
